.R1{background-color: blueviolet;
    color: cornsilk;

}
.R2{background-color:red;
    color: cornsilk;

}

.R3{background-color: green;
    color: cornsilk;

}
.b1{background-color: greenyellow;
    color: indigo;

}

.b1{background-color: greenyellow;
    color: indigo;

}
.b2{background-color: blue;
    color: yellow;

}
.b3{background-color:red;
    color:brown;

}
.t1{
    align-content: center;
}
.a{
    background-color: cyan;
    color: darkorange;
}




